* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(49, 52, 55);
}

header {
  margin-top: 50px;
  text-align: center;
}

.formulario {
  width: 80%;
  margin: 15px auto;
  padding: 30px;
}

.campoDados {
  padding: 20px;
  background-color: rgb(230, 230, 230);
}

.campoEmprego {
  padding: 20px;
  background-color: rgb(230, 230, 230);
}

.botoes {
  text-align: center;
}

button {
  background-color: rgb(230, 230, 230);
  width: 200px;
  padding: 5px;
  margin: 5px;
}

#full-name {
  width: 91%;
}

#cpf {
  width: 92%;
}

#email {
  width: 91%;
}

#endereco {
  width: 89%;
}

#cidade {
  width: 56%;
  margin-right: 15px;
}

#estado {
  width: 27%;
}

#curriculo {
  width: 97%;
}

#cargo {
  width: 92%;
}

#descricao {
  width: 83%;
}