.App {
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  margin-top: 0;
  background-color:rgb(80, 75, 75);
  /* padding: 10px; */
  border-bottom: rgb(19, 18, 18) solid 2px;
}

header .logo {
  margin-top: 10px;
  height: 70px;
  float: left;
  margin-left: 5%;
}

header h1 {
  margin-right: auto;
  margin-left: auto;
  padding: 0 20% 0 0;
  color: rgba(255, 255, 255, 0.946);
  font-weight: 800;
  font-size: 2.5em;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-around; */
  /* flex: 1 1 0; */
  min-width: 25%;
  margin: 10px 10px;
  border: 5px #0f324119 solid;
  border-radius: 10px;
  background-color: #30a8d7aa;
  color: #131313;
}

.pokemon:hover {
  box-shadow: 1px 1px 5px 5px rgb(141, 140, 140);
}