.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 350px;
  left: 100px;
}

.baloon {
  position: absolute;
  margin-top: 30px;
  left: 200px;
  z-index: 12;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 220px;
  z-index: 23;
  top: 150px;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 450px;
  z-index: 1;
  top: 250px;
}